* {
    font-family: "Inter", sans-serif;
}
#content {
    padding: 10px;
}
@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        background: #333;
        border-radius: 6px;
    }

    ::-webkit-scrollbar-thumb {
        background: #555;
        border-radius: 6px;
    }
    body {
        background-color: #202020;
        color: white;
    }
    a {
        color: #aaaaff;
    }
    input,
    textarea {
        background-color: #101010;
        color: white;
    }
    button {
        background-color: #222234 !important;
        color: white !important;
        border-color: #606060 !important;
    }
    button:hover {
        border-color: white !important;
    }
    .system-msg {
        background-color: #303030 !important;
    }
    #app-bar {
        background-color: #222234 !important;
        * {
            color: white !important;
        }
    }
    #error {
        background-color: #aa0000 !important;
        p {
            color: white !important;
        }
    }
    #ok-txt {
        color: lightgreen !important;
    }
    strong {
        background-color: #00000000 !important;
    }

    :root {
        --tag-bot-color: #aaaaff;
        --tag-mod-color: #aaffaa;
    }

    .tag-admin {
        color: white;
    }
    .tag-bot,
    .tag-mod {
        color: black;
    }
}
/* #region things */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}
:root {
    --background-color: #fff;
    --text-color: #000;
    --hovered-text-color: #fff;
    --link-color: #3f3cff;
    --container-color: #f2f2ff;
    --hovered-container-color: #586e96;
    --error-container-color: #ffbbbb;
}
button {
    background-color: var(--container-color);
    border: 1px var(--text-color) solid;
    border-radius: 5px;
    color: var(--text-color);
    padding: 3px 20px;
}
button:hover {
    background-color: var(--hovered-container-color);
    font-weight: bold;
    border: 1px var(--text-color) solid;
    color: var(--hovered-text-color);
}
button:active {
    box-shadow: 1px 1px 2px var(--text-color);
}
button:disabled {
    filter: grayscale(1);
    opacity: 0.7;
    pointer-events: none;
}
input,
textarea {
    font-family: sans-serif;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px var(--text-color) solid;
}
input:focus,
textarea:focus {
    padding: 4px;
    border: 2px var(--hovered-container-color) solid;
}
/* #endregion */

/* #region app bar and friends */
#tagline {
    margin-top: 5px;
}
#app-bar {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 17px;
    font-size: 1.2rem;
    align-items: center;
    background-color: var(--container-color);
}
#app-bar #title {
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color);
}
#app-bar #title:hover {
    color: var(--link-color);
    text-decoration: underline;
}
#app-bar p {
    margin: 0;
    display: inline;
}
/* #region buttons row */
#buttons-row {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    flex-wrap: wrap;
}

#buttons-row a,
#buttons-row button {
    flex: 1 1 23%;
    margin: 5px;
}

#buttons-row a button:hover,
#buttons-row button:hover {
    background-color: var(--hovered-container-color);
    font-weight: bold;
    border: 1px var(--text-color) solid;
    color: var(--hovered-text-color);
}
#buttons-row a button:active,
#buttons-row button:active {
    box-shadow: 1px 1px 2px var(--text-color);
}

@media (pointer: none), (pointer: coarse) {
    #buttons-row button,
    #buttons-row a {
        flex: 1 1 45%;
    }
}
#error {
    display: none;
    padding: 10px 17px;
    background-color: var(--error-container-color);
}
#content {
    flex: 1;
}
