/*all*/
* {
    font-family: "Inter", sans-serif;
}
/* #region app bar and friends */
#tagline {
    margin-top: 5px;
}
#app-bar {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 17px;
    font-size: 1.2rem;
    align-items: center;
    background-color: var(--container-color);
}
#app-bar #title {
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color);
}
#app-bar #title:hover {
    color: var(--link-color);
    text-decoration: underline;
}
#app-bar p {
    margin: 0;
    display: inline;
}

#information {
    padding: 5px 17px;
}
#guest-limitations {
    font-style: italic;
}
/* #endregion */
/* #region buttons row */
#buttons-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10px;
}

#buttons-row button {
    flex: 1 1 10%;
}

#buttons-row a button {
    width: 90%;
    height: 90%;
}

#buttons-row button:hover {
    background-color: var(--hovered-container-color);
    font-weight: bold;
    border: 1px var(--text-color) solid;
    color: var(--hovered-text-color);
}
#buttons-row button:active {
    box-shadow: 1px 1px 2px var(--text-color);
}

@media (pointer: none), (pointer: coarse) {
    #buttons-row button {
        flex: 1 1 45%;
    }
}
#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 10px;
}
#input-bar {
    display: flex;
    width: 100%;
}
#input-bar input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}
/* #endregion */
/* #region guest join field */
#guest-join-field {
    display: flex;
}
@media (pointer: none), (pointer: coarse) {
    #guest-join-field input {
        flex: 1;
    }
}
#guest-join-field input {
    min-width: 250px !important;
    margin-right: 10px;
}
/* #endregion */
/* #region input bar */
#input-bar {
    visibility: hidden;
}
#input-bar textarea {
    flex: 1;
    margin: 10px;
    max-height: 150px;
}
#input-bar #send {
    margin-right: 10px !important;
    margin: 10px 0;
    padding: 0 10px;
}

.message {
    margin: 6px 0;
}
.system-msg {
    padding: 12px 10px !important;
}
/* #region tags */
:root {
    --tag-guest-color: #cccccc;
    --tag-dark-text-color: #ffffff;
    --tag-mod-color: #00a50c;
    --tag-admin-color: #ff0000;
    --tag-bot-color: #0000ff;
    --tag-bridge-color: #7289da;
}
.tag {
    font-weight: 600;
    padding: 2px 5px;
    border-radius: 5px;
}
.tag-guest {
    background-color: var(--tag-guest-color);
}
.tag-mod {
    background-color: var(--tag-mod-color);
    color: var(--tag-dark-text-color);
}
.tag-admin {
    background-color: var(--tag-admin-color);
    color: var(--tag-dark-text-color);
}
.tag-bot {
    background-color: var(--tag-bot-color);
    color: var(--tag-dark-text-color);
}
.tag-bridge {
    background-color: var(--tag-bridge-color);
    color: var(--tag-dark-text-color);
}
.timestamp {
    color: gray;
}
/* #endregion */
